package empty

templ Title() {
	<p class="dark:text-white font-bold text-lg text-center mt-8">
		{ children... }
	</p>
}

templ Description() {
	<p class="dark:text-white mt-4 opacity-80 text-center">
		{ children... }
	</p>
}
